@tailwind base;
@tailwind components;
@tailwind utilities;

/* Web font: Yekan */
@font-face {
	font-family: "Yekan";
	src: url("./assets/font/Yekan.eot");
	src:
		url("./assets/font/Yekan.eot?#iefix") format("embedded-opentype"),
		url("./assets/font/Yekan.woff2") format("woff2"),
		url("./assets/font/Yekan.woff") format("woff"),
		url("./assets/font/Yekan.otf") format("opentype"),
		url("./assets/font/Yekan.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

body {
	font-family: "Yekan" !important;
}
